.form-wrapper {
    margin: 10% 0 0 5%;
    display: flex;
    justify-content: space-around;
}

.login, .register {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-wrapper form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6vh;
}

.form-wrapper input[type=submit], #logout input[type=submit] {
    width: 15vw;
    height: 5vh;
}

#logout {
    display: flex;
    justify-content: center;
    margin-top: 5%;
}