.list {
    width: 100%;
    height: fit-content;
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 13.5% 13.5% 13.5% 13.5% 13.5% 13.5%;
    gap: 0 4vw;
    margin-top: 10%;
}

.list img {
    width: 12vw;
    height: 40vh;
}