/* X-Small devices (portrait phones, less than 576px) */
@media only screen and (max-width: 600px) {

    /* Header - index - Footer */
    .search-box {
        width: 16vw;
        height: 2vh;
    }

    .submit-button {
        width: 9vw;
    }

    .trending {
        background-size: auto;
        height: 150vh;
    }

    .trending-info {
        width: 75%;
        margin: 45% 0 0 8%;
        display: flex;
        flex-direction: column;
        font-weight: 100;
    }

    .trending-info h1 {
        font-size: 10vw;
    }

    .trending-description, .trending-director {
        font-size: 6vw;
    }

    .reviews {
        width: 35vw;
    }

    .fan-favorites {
        height: auto;
        flex-direction: column;
        align-items: center;
        gap: 2vh;
    }

    .fan-favorites a {
        display: flex;
        justify-content: center;
    }

    .movie {
        width: 50%;
    }

    footer {
        height: 30vh;
        justify-content: center;
    }

    footer ul {
        width: 100vw;
        padding: 0;
        justify-content: space-evenly;
    }

    footer li {
        width: fit-content;
    }

    /* Reviews */
    .main {
        height: fit-content;
    }

    .main img {
        width: 60vw;
    }

    .main-info h1 {
        font-size: 8vw;
    }

    .main-info p {
        font-size: 4.5vw;
    }

    .reviews-form .search-box {
        width: 40vw;
        height: 3vh;
    }

    /* Login */
    .form-wrapper {
        margin: 45vw 0 0 0;
    }

    .form-wrapper input[type=submit], #logout input[type=submit] {
        width: 25vw;
        height: 4vh;
        font-size: 5vw;
    }

    /* Movie List */
    .list {
        flex-direction: column;
        gap: 2vh;
    }

    .list a {
        display: flex;
        justify-content: center;
    }

    .list img {
        width: 50%;
        height: 35vh;
    }
}

/* Medium devices (tablets, less than 1025) */
@media only screen and (min-width: 700px) and (max-width: 1025px) and (min-height: 700px){
    /* Header - index - Footer */
    .search-box {
        width: 16vw;
        height: 2vh;
    }

    .submit-button {
        width: 9vw;
    }

    .trending {
        background-size: auto;
        background-position: top;
    }

    .trending-info {
        width: 90%;
        margin: 15% 0 0 8%;
        display: flex;
        flex-direction: column;
        font-weight: 100;
    }

    .trending-info h1 {
        font-size: 10vw;
    }

    .trending-description, .trending-director {
        font-size: 6vw;
    }

    .reviews {
        width: 35vw;
    }

    .fan-favorites-title {
        font-size: 5vw;
    }

    .fan-favorites {
        height: auto;
        flex-direction: column;
        align-items: center;
        gap: 2vh;
    }

    .fan-favorites a {
        display: flex;
        justify-content: center;
    }

    .movie {
        width: 50%;
    }

    .movie-title {
        font-size: 3.5vw;
    }

    .movie-director {
        font-size: 3vw;
    }

    footer {
        min-height: 30vh;
        font-size: 4vw;
    }

    footer ul {
        width: 100vw;
        padding: 0;
        justify-content: space-evenly;
    }

    footer li {
        width: fit-content;
    }

    /* Reviews */
    .main {
        height: fit-content;
    }

    .main img {
        width: 60vw;
    }

    .main-info h1 {
        font-size: 8vw;
    }

    .main-info p {
        font-size: 4.5vw;
    }

    .reviews-form .search-box {
        width: 20vw;
        height: 3vh;
    }

    /* Login */
    .form-wrapper {
        margin: 45vw 0 0 0;
    }

    /* Movie List */
    .list {
        flex-direction: column;
        gap: 2vh;
    }

    .list a {
        display: flex;
        justify-content: center;
    }

    .list img {
        width: 50%;
        height: 50vh;
    }
}